{
    "openapi": "3.0.0",
    "info": {
        "title": "Progi CAP API",
        "description": "API documentation for Progi CAP application modules",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API server"
        }
    ],
    "paths": {
        "/api/pending-students": {
            "get": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Liste des étudiants en attente",
                "description": "Récupère la liste paginée des étudiants en attente avec possibilité de filtrage",
                "operationId": "getPendingStudents",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "documents_submitted",
                                "approved",
                                "rejected"
                            ]
                        }
                    },
                    {
                        "name": "entry_level_id",
                        "in": "query",
                        "description": "Filtrer par niveau d'entrée",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des étudiants récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PendingStudent"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Créer un étudiant en attente",
                "description": "Crée un nouvel étudiant en attente d'inscription",
                "operationId": "createPendingStudent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "first_name",
                                    "last_name",
                                    "phone",
                                    "entry_level_id",
                                    "entry_diploma_id"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "entry_level_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "entry_diploma_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Étudiant créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Étudiant en attente créé avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PendingStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                }
            }
        },
        "/api/pending-students/{pendingStudent}": {
            "get": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Détails d'un étudiant en attente",
                "description": "Récupère les détails d'un étudiant en attente spécifique",
                "operationId": "getPendingStudent",
                "parameters": [
                    {
                        "name": "pendingStudent",
                        "in": "path",
                        "description": "ID de l'étudiant en attente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de l'étudiant récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PendingStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Étudiant non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Mettre à jour un étudiant en attente",
                "description": "Met à jour les informations d'un étudiant en attente",
                "operationId": "updatePendingStudent",
                "parameters": [
                    {
                        "name": "pendingStudent",
                        "in": "path",
                        "description": "ID de l'étudiant en attente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "student@example.com"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "entry_level_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "entry_diploma_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Étudiant mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Étudiant en attente mis à jour avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PendingStudent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Étudiant non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Supprimer un étudiant en attente",
                "description": "Supprime un étudiant en attente",
                "operationId": "deletePendingStudent",
                "parameters": [
                    {
                        "name": "pendingStudent",
                        "in": "path",
                        "description": "ID de l'étudiant en attente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Étudiant supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Étudiant en attente supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Étudiant non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pending-students/{pendingStudent}/documents": {
            "get": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Récupérer les documents",
                "description": "Récupère la liste des documents soumis par un étudiant en attente",
                "operationId": "getPendingStudentDocuments",
                "parameters": [
                    {
                        "name": "pendingStudent",
                        "in": "path",
                        "description": "ID de l'étudiant en attente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documents récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "Liste des fichiers",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Étudiant non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pending Students"
                ],
                "summary": "Soumettre des documents",
                "description": "Soumet des documents pour un étudiant en attente (accessible sans authentification)",
                "operationId": "submitDocuments",
                "parameters": [
                    {
                        "name": "pendingStudent",
                        "in": "path",
                        "description": "ID de l'étudiant en attente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "documents",
                                    "document_types"
                                ],
                                "properties": {
                                    "documents": {
                                        "description": "Fichiers à uploader",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "document_types": {
                                        "description": "Types des documents correspondants",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "diploma"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Documents soumis avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documents soumis avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "pending_student": {
                                                    "$ref": "#/components/schemas/PendingStudent"
                                                },
                                                "uploaded_files": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "original_name": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "mime_type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Étudiant non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                }
            }
        },
        "/api/submissions/active-periods": {
            "get": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Périodes de soumission actives",
                "description": "Récupère la liste des périodes de soumission actuellement actives",
                "operationId": "getActiveSubmissionPeriods",
                "responses": {
                    "200": {
                        "description": "Périodes récupérées avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SubmissionPeriod"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/submissions/active-reclamation-periods": {
            "get": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Périodes de réclamation actives",
                "description": "Récupère la liste des périodes de réclamation actuellement actives",
                "operationId": "getActiveReclamationPeriods",
                "responses": {
                    "200": {
                        "description": "Périodes récupérées avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ReclamationPeriod"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/submissions/check-status": {
            "post": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Vérifier le statut de soumission",
                "description": "Vérifie si la soumission est ouverte pour une année académique donnée",
                "operationId": "checkSubmissionStatus",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "academic_year_id"
                                ],
                                "properties": {
                                    "academic_year_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Statut vérifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "is_open": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "academic_year": {
                                                    "$ref": "#/components/schemas/AcademicYear"
                                                },
                                                "submission_period": {
                                                    "$ref": "#/components/schemas/SubmissionPeriod"
                                                },
                                                "current_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Données invalides"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/submissions/check-reclamation-status": {
            "post": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Vérifier le statut de réclamation",
                "description": "Vérifie si la réclamation est ouverte pour une année académique donnée",
                "operationId": "checkReclamationStatus",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "academic_year_id"
                                ],
                                "properties": {
                                    "academic_year_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Statut vérifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "is_open": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "academic_year": {
                                                    "$ref": "#/components/schemas/AcademicYear"
                                                },
                                                "reclamation_period": {
                                                    "$ref": "#/components/schemas/ReclamationPeriod"
                                                },
                                                "current_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Données invalides"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/academic-years": {
            "get": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Liste des années académiques",
                "description": "Récupère la liste de toutes les années académiques",
                "operationId": "getAcademicYears",
                "responses": {
                    "200": {
                        "description": "Années académiques récupérées avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AcademicYear"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/academic-years/{academicYear}": {
            "get": {
                "tags": [
                    "Submission Management"
                ],
                "summary": "Détails d'une année académique",
                "description": "Récupère les détails d'une année académique spécifique avec ses périodes",
                "operationId": "getAcademicYear",
                "parameters": [
                    {
                        "name": "academicYear",
                        "in": "path",
                        "description": "ID de l'année académique",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Année académique récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicYear"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "404": {
                        "description": "Année académique non trouvée"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Liste des fichiers",
                "description": "Récupère la liste des fichiers accessibles par l'utilisateur avec possibilité de filtrage",
                "operationId": "getFiles",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "query",
                        "description": "Filtrer par collection",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "Filtrer par visibilité",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "module_name",
                        "in": "query",
                        "description": "Filtrer par module",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Rechercher par nom",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichiers récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/File"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "File Management"
                ],
                "summary": "Uploader un fichier",
                "description": "Upload un nouveau fichier avec gestion des métadonnées et permissions",
                "operationId": "uploadFile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "Le fichier à uploader",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "default": "private",
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    },
                                    "collection": {
                                        "type": "string",
                                        "default": "default"
                                    },
                                    "module_name": {
                                        "type": "string"
                                    },
                                    "module_resource_type": {
                                        "type": "string"
                                    },
                                    "module_resource_id": {
                                        "type": "integer"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Fichier uploadé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Fichier uploadé avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Détails d'un fichier",
                "description": "Récupère les détails d'un fichier spécifique",
                "operationId": "getFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du fichier récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "File Management"
                ],
                "summary": "Mettre à jour un fichier",
                "description": "Met à jour les métadonnées ou la collection d'un fichier",
                "operationId": "updateFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "collection": {
                                        "type": "string"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Fichier mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Fichier mis à jour avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "File Management"
                ],
                "summary": "Supprimer un fichier",
                "description": "Supprime un fichier (soft delete)",
                "operationId": "deleteFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichier supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Fichier supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/download": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Télécharger un fichier",
                "description": "Télécharge un fichier spécifique",
                "operationId": "downloadFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichier téléchargé avec succès",
                        "content": {
                            "application/octet-stream": {}
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/visibility": {
            "post": {
                "tags": [
                    "File Management"
                ],
                "summary": "Changer la visibilité d'un fichier",
                "description": "Change la visibilité d'un fichier (public/privé)",
                "operationId": "changeFileVisibility",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "visibility"
                                ],
                                "properties": {
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "public",
                                            "private"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Visibilité modifiée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Visibilité modifiée avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/lock": {
            "post": {
                "tags": [
                    "File Management"
                ],
                "summary": "Verrouiller un fichier",
                "description": "Verrouille un fichier pour empêcher les modifications",
                "operationId": "lockFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichier verrouillé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Fichier verrouillé avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/unlock": {
            "post": {
                "tags": [
                    "File Management"
                ],
                "summary": "Déverrouiller un fichier",
                "description": "Déverrouille un fichier pour permettre les modifications",
                "operationId": "unlockFile",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichier déverrouillé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Fichier déverrouillé avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/activities": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Historique des activités d'un fichier",
                "description": "Récupère l'historique des activités (logs) d'un fichier",
                "operationId": "getFileActivities",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Historique récupéré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileActivity"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/public": {
            "get": {
                "tags": [
                    "File Management"
                ],
                "summary": "Fichiers publics",
                "description": "Récupère la liste des fichiers publics avec possibilité de filtrage",
                "operationId": "getPublicFiles",
                "parameters": [
                    {
                        "name": "collection",
                        "in": "query",
                        "description": "Filtrer par collection",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "module_name",
                        "in": "query",
                        "description": "Filtrer par module",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Rechercher par nom",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fichiers publics récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/File"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/files/{file}/permissions": {
            "get": {
                "tags": [
                    "File Permissions"
                ],
                "summary": "Permissions d'un fichier",
                "description": "Récupère toutes les permissions accordées sur un fichier",
                "operationId": "getFilePermissions",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Permissions récupérées avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FilePermission"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/permissions/grant": {
            "post": {
                "tags": [
                    "File Permissions"
                ],
                "summary": "Accorder une permission",
                "description": "Accorde une permission sur un fichier à un utilisateur ou un rôle",
                "operationId": "grantFilePermission",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "permission_type"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "ID de l'utilisateur (optionnel si role_id fourni)",
                                        "type": "integer"
                                    },
                                    "role_id": {
                                        "description": "ID du rôle (optionnel si user_id fourni)",
                                        "type": "integer"
                                    },
                                    "permission_type": {
                                        "type": "string",
                                        "enum": [
                                            "read",
                                            "write",
                                            "delete",
                                            "share",
                                            "admin"
                                        ]
                                    },
                                    "expires_at": {
                                        "description": "Date d'expiration (optionnel)",
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Permission accordée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Permission accordée avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/FilePermission"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/permissions/revoke": {
            "post": {
                "tags": [
                    "File Permissions"
                ],
                "summary": "Révoquer une permission",
                "description": "Révoque une permission sur un fichier d'un utilisateur ou d'un rôle",
                "operationId": "revokeFilePermission",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "permission_type"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "ID de l'utilisateur (optionnel si role_id fourni)",
                                        "type": "integer"
                                    },
                                    "role_id": {
                                        "description": "ID du rôle (optionnel si user_id fourni)",
                                        "type": "integer"
                                    },
                                    "permission_type": {
                                        "type": "string",
                                        "enum": [
                                            "read",
                                            "write",
                                            "delete",
                                            "share",
                                            "admin"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Permission révoquée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Permission révoquée avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier ou permission non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/permissions/check": {
            "post": {
                "tags": [
                    "File Permissions"
                ],
                "summary": "Vérifier une permission",
                "description": "Vérifie si l'utilisateur actuel a une permission spécifique sur un fichier",
                "operationId": "checkFilePermission",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "permission_type"
                                ],
                                "properties": {
                                    "permission_type": {
                                        "type": "string",
                                        "enum": [
                                            "read",
                                            "write",
                                            "delete",
                                            "share",
                                            "admin"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vérification effectuée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "has_permission": {
                                                    "type": "boolean"
                                                },
                                                "permission_type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/shares": {
            "get": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Partages d'un fichier",
                "description": "Récupère tous les liens de partage d'un fichier",
                "operationId": "getFileShares",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partages récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileShare"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Créer un partage",
                "description": "Crée un nouveau lien de partage pour un fichier",
                "operationId": "createFileShare",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "password": {
                                        "description": "Mot de passe pour accéder au partage",
                                        "type": "string"
                                    },
                                    "allow_download": {
                                        "description": "Autoriser le téléchargement",
                                        "type": "boolean",
                                        "default": true
                                    },
                                    "allow_preview": {
                                        "description": "Autoriser l'aperçu",
                                        "type": "boolean",
                                        "default": true
                                    },
                                    "max_downloads": {
                                        "description": "Nombre maximum de téléchargements",
                                        "type": "integer"
                                    },
                                    "expires_at": {
                                        "description": "Date d'expiration",
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Partage créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lien de partage créé avec succès."
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/FileShare"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier non trouvé"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/shares/{share}": {
            "get": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Détails d'un partage",
                "description": "Affiche les détails d'un lien de partage spécifique",
                "operationId": "getFileShare",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "share",
                        "in": "path",
                        "description": "ID du partage",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du partage récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/FileShare"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier ou partage non trouvé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Supprimer un partage",
                "description": "Supprime définitivement un lien de partage",
                "operationId": "deleteFileShare",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "share",
                        "in": "path",
                        "description": "ID du partage",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partage supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Partage supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier ou partage non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/{file}/shares/{share}/deactivate": {
            "post": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Désactiver un partage",
                "description": "Désactive un lien de partage existant",
                "operationId": "deactivateFileShare",
                "parameters": [
                    {
                        "name": "file",
                        "in": "path",
                        "description": "ID du fichier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "share",
                        "in": "path",
                        "description": "ID du partage",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partage désactivé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Partage désactivé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "404": {
                        "description": "Fichier ou partage non trouvé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/files/share/{token}": {
            "get": {
                "tags": [
                    "File Sharing"
                ],
                "summary": "Accéder à un fichier partagé",
                "description": "Accède aux informations d'un fichier partagé via son token (public)",
                "operationId": "accessSharedFile",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Token de partage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "password": {
                                        "description": "Mot de passe si requis",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Accès autorisé au fichier partagé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "file": {
                                                    "$ref": "#/components/schemas/File"
                                                },
                                                "share": {
[...]
